---
layout: default
title: Out
id: in
---

<div class="grid-container">
  {% assign vid = '.mp4' %}
  {% for item in site.data.c19 %}
  {% if item[1].src contains vid %}
  <figure class={{ 'grid-item' | append: forloop.index }}>
    <video class="video" type="video/mp4" controls>
      <source src={{ item[1].src | relative_url }} type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <figcaption>
      {{ item[1].tag }}
    </figcaption>
  </figure>
  {% else %}
  <figure class={{ 'grid-item' | append: forloop.index }}>
    <a href={{ item[1].src | relative_url}} data-lightbox='cases'>
      <img class="grid-photo" src={{ item[1].src | relative_url}} />
    </a>
    <figcaption>
      {{ item[1].tag }}
    </figcaption>
  </figure>

  {% endif %}

  {% endfor %}
</div>