---
layout: default
title: Space
id: space
---

<div id="map" class="container-fluid">

  <div id="map-container" class="map-container">
    <img id="google-earth" src={{ "/assets/img/init/peru.jpg" | relative_url }} alt="Google Earth" class="google-earth">
    <div class="map-caption">
      <h2 class="head">Where Were We?</h2>
      <p class="subhead">click region to explore</p>
    </div>
    {% include_cached svgmap.html %}
  </div>

  {% include_cached spacecarousel.html %}

</div>


<script type="text/javascript">
  // prepare click events
  $(document).ready(function() {

    // SVG click event
    $(document).on('click', function(e) {
      let clicked_id = e.target.id;
      console.log(clicked_id);
      // name of SVG path / region
      let clicked_class = $('#' + e.target.id).attr('name');

      if (clicked_class != undefined) {

        // get the div element to show
        // NOTE: html id cannot have spaces
        let region = '#' + clicked_class.replace(/ /g, "");
        let divelement = $('#modal-location').find(region);

        if (divelement.length) {
          // navbar goes under modal
          document.getElementById('main-nav').setAttribute('z-index', '-1');

          // show relevant div
          divelement.show();

          // show modal
          $('#modal-location').modal('show');

          // hide div on close
          $('#modal-location').on('hidden.bs.modal', function(e) {
            divelement.hide();
          })
        }
      }

    });
  });
</script>