---
layout: default
title: Space
id: space
---

<div id="map-container" class="container-fluid map-container">

  <img src={{ "/assets/img/init/peru.jpg" | relative_url }} alt="Google Map" class="google-map">
  <div class="map-caption">
    <h3>Where Were We?</h3>
  </div>
  {% include svgmap.html %}

</div>
{% include spacecarousel.html %}



<script type="text/javascript">
  // prepare click events
  $(document).ready(function() {

    // SVG click event
    $(document).on('click', function(e) {
      let clicked_id = e.target.id;

      // name of SVG path / region
      let clicked_class = $('#' + e.target.id).attr('name');

      if (clicked_class != undefined) {

        // get the div element to show
        let region = '#' + clicked_class;
        let divelement = $('#modal-location').find(region);

        if (divelement.length) {
          // navbar goes under modal
          document.getElementById('main-nav').setAttribute('z-index', '-1');

          // render
          divelement.show();
          $('#modal-location').modal('show');

          // reset on close
          $('#modal-location').on('hidden.bs.modal', function(e) {
            divelement.hide();
          })
        }

      }

    });
  });
</script>