---
layout: default
title: Time
id: time
---

<section id=timeline class="timeline">

  <div class="timehead">
    <h2>Wh<span class="ex">e</span>n W<span class="ex">e</span> W<span class="ex">e</span>r<span class="ex">e</span></h2>
    <p class="leader">In A Series of <strong class="ex">%#!</strong>fortunate Events</p>
    <br>
    <img src={{ "/assets/img/init/bug.gif" | relative_url }} alt="Moving Bug" style="margin-left: 6px;">
  </div>

  <div class="card-wrapper">

    {% for date in site.data.images.month %}
    <div class="card">

      <!-- card title -->
      <div class="head card-head">
        <div class="number-box">
          <span class="ex">{{ forloop.index }}</span>
        </div>
        <h2><span class="small">{{ date[0 ]}}</span>{{ date[1].event }}</h2>
      </div>

      <div class="timeline-photo" style="background: url({{ date[1].img[0].src | relative_url }}) no-repeat center center / cover;">
        <button type="button" class="btn btn-primary view-btn" data-toggle="modal" data-target={{ '#flextime' | append: forloop.index }}>View Photos</button>
      </div>


      <!-- begin modal -->
      {% assign mod = forloop.index | modulo: 2 %}

      <!-- decides who pops from left or right -->
      <div id={{ 'flextime' | append: forloop.index }} {% if mod==0 %} class="modal left fade flextime" {% else %} class="modal right fade flextime" {% endif %} tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">

        <div class="modal-dialog modal-lg">
          <div class="modal-content timeline-content">

            <!-- event and close button -->
            <div class="modal-header modal-timeline-header">
              <h6 class="modal-title" id="modal-location-label">{{ date[1].event }} <small>(Click image to expand)</small></h6>
              <button id="modal-close" type="button" class="close" data-dismiss="modal" style="color: white;" aria-label="Close"><span aria-hidden="true" id="close-button">&times;</span>
              </button>
            </div>

            <!-- photos -->
            <div class="flex-container modalbox">
              {% for photo in date[1].img %}
              <a href={{ photo.src | relative_url }} data-lightbox='cases'>
                <img class="modalphoto" src={{ photo.src | relative_url}} />
              </a>
              {% endfor %}
            </div>

          </div>
        </div>
      </div>

    </div>
    {% endfor %}

  </div>
</section>