<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container">
    <a class="navbar-brand"
       href="#">
      <img alt={{ site.data.navigation.brand.alt }}
           src={{ site.data.navigation.brand.src | relative_url }} />
    </a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="m-btn m-name"
           type="button"
           onclick="alert('Hello');">{{ site.data.navigation.brand.name }}</a>
      </li>
    </ul>
    <div class="row">
      <ul class="navbar-nav navbar-expand ml-auto">
        <li class="nav-item">
          <i class="fab fa-facebook-square fa-2x fa-fw"
             onclick="location.href='https://www.facebook.com/profile.php?id=100006911674580'"></i>
        </li>
        <li class="nav-item">
          <i class="fab fa-instagram fa-2x fa-fw"
             onclick="location.href='https://www.instagram.com/m.ereida/'"></i>
        </li>
        <li class="nav-item">
          <i class="fab fa-wix fa-2x fa-fw"
             onclick="location.href='https://mereidafajardo.wixsite.com/portfolio/'"></i>
        </li>
      </ul>
    </div>
  </div>
</nav>
