<!-- photo links landing page -->

<div class="photolinks">
  {% for photo in site.data.navigation.navlinks offset:1 %}

  <div class="col-xs-12 col-sm-6 col-lg-3 mx-auto photolink-wrapper">
    <a href={{ photo.link | relative_url }}>
      <img src={{ photo.src | relative_url }} alt={{ photo.alt }} class="link-photo" />

      <div class="title">
        <h5>{{ photo.title }}</h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, aliquid vero dolorem suscipit, ipsum ex. Deleniti labore, autem aliquam. Praesentium.
        </p>
      </div>

    </a>
  </div>

  {% endfor %}
</div>