<!-- modal photo carousel for locations -->

<!-- modal setup -->
<div class="modal fade" id="modal-location" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="image">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;></span>
        </button>
        <h5 class="modal-title">Where We Were</h5>
      </div>

      <!-- begin carousel -->
      <div class="modal-body">

        {% for region in site.data.images.location %}
        <div id={{ region[0] }} class="carousel slide" data-ride="carousel" style="display:none;">

          <!-- indicators -->
          <ol class="carousel-indicators">
            {% for i in (0..region[1].size) %}
            <li data-target={{ region[0] }} data-slide-to={{ '"' | append: i | append: '"'}}></li>
            {% endfor %}
          </ol>
          <div class="carousel-inner" role="listbox">
            {% for image in region[1] %}
            <div class="item">
              <img class="d-block w-100" src={{ image.src | relative_url }} alt={{ region[0] }}>
            </div>
            {% endfor %}
          </div>

          <!-- controls -->
          <a class="left carousel-control" href={{ "#" | append: region[0] }} role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>

          <a class="right carousel-control" href={{ "#" | append: region[0] }} role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        {% endfor %}


      </div>
    </div>
  </div>
</div>