/***** CLOSE X BUTTON | _layout.blog.html *****/
.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.5;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: white;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

/***** _layout.blog.html *****/
#blogBody {
  width: 100%;
  position: relative;
  padding-top: 150px;
}


/***** _blogs.***.html *****/
.blog-title {
  margin-bottom: 50px;
}
.blog-row {
  display: flex;
  height: 600px;
  .blog-column {
    display: block;
    width: 100%;
    margin-bottom: 50px;
    .blog-img {
      width: 100%;
      margin-top: 20px;
    }
    #videoID {
      padding-top: 70px;
      margin-top: 20px;
    }
    h4 {
      text-align: center;
    }
    .vert-img {
      padding-top: 30px;
      max-height: 60%;
    }
  }
}

.hello-row{
  display: flex;
  margin-top: 50px;
  height: 400px;
  .span-column {
    display: block;
    width: 100%;
    // max-height: 400px;
    .span-img {
      float: left;
      height: 18%;
    }
    .hello {
      float: right;
      color: white;
      text-align: center;
      margin-top: 80px;
      margin-left: 50px;
      font-size: 4em;
      width: 33.33%;
    }
  }
}

.blog {
  margin-top: 50px;
  margin-bottom: 70px;
  text-align: center;
}

.draw-row {
  display: flex;
  margin-top: 50px;
  height: 400px;
  .draw-column {
    display: block;
    max-height: 300px;
    width: 60%;
    .draw-img {
      float: left;
      max-height: 100%;
    }
  }
}
.coda{
  margin-top: 60px;
}
