/* _layout.blog.html */
/* close X button */
.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.5;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: white;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

/* _layout.blog.html */
#blogBody {
  // padding: 0;
  // margin: 0;
  width: 100%;
  position: relative;
  padding-top: 150px;
}


/* _blogs */
/* blog title and date */
.blog-title {
  margin-bottom: 50px;
}

/* top mix row elements */
.mix-row {
  display: flex;
  height: 600px;
  .mix-column {
    // border-radius: 2px;
    // border-style: dashed;
    display: block;
    width: 100%;
    max-height: 550px;
    margin-bottom: 50px;
    .depart {
      width: 100%;
      margin-top: 80px;
    }
    #videoID1 {
      padding-top: 10px;
      margin-left: 38px;
      margin-top: 10px;
    }
    h4 {
      text-align: center;
    }
    .vert-img {
      margin-top: -5px;
      padding-top: 20px;
      max-height: 50%;
      margin-left: 40px;
    }
  }
}

/* Peru image span and Welcome greeting */
.hello-row{
  margin-top: 30px;
  height: 350px;
  .span-column {
    // border-radius: 2px;
    // border-style: dashed;
    display: block;
    width: 100%;
    .span-img {
      width:100%;
    }
    .welcome {
      height: 50px;
      color: white;
      text-align: center;
      display: d-flex;
      margin-bottom: 50px;
    }
  }
}

/* begin of blog */
.blog {
  // border-radius: 2px;
  // border-style: dashed;
  margin-top: 50px;
  margin-bottom: 70px;
  text-align: center;
  .news {
    float: left !important;
  }
  .video-column {
    margin-top: 90px;
    margin-left: 50px;
    #videoID2 {
      padding-top: 70px;
      margin-top: 10px;
    }
  }
}

/* row of drawings */
.draw-row {
  // border-radius: 2px;
  // border-style: dashed;
  display: flex;
  padding-left: 60px;
  padding-right: 60px;
  height: 300px;
  .draw-column {
    max-height: 300px;
    width: 60%;
    .draw-img {
      float: left;
      max-height: 100%;
    }
  }
  .video-column {
    margin-top: 90px;
    margin-left: 50px;
    #videoID2 {
      padding-top: 90px;
      margin-top: 10px;
    }
  }
}

/* row of 4 landscape photos */
.land-4-row{
  // border-radius: 2px;
  // border-style: dashed;
  display: flex;
  margin-top: 30px;
  // height: 400px;
  .land-4-column {
    // float: left;
    width: 100%;
    .land-img {
      margin-top: 20px;
      width: 100%;
    }
  }
  .blog {
    padding-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
  }
}
.coda{
  margin-top: 10px;
}
