.footer-section {
  .foot {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .navbar-nav {
      display: flex;
      flex-direction: row;
    }

    .copyright-text {
      font-size: 1.2rem;
      font-weight: 600;
    }
  }
}
