.footer-section {
  .about-company {
    padding-right: 120px;

    .notes {
      color: $snow;
    }
  }

  .m-0 {
    li {
      color: $snow;
    }

    li:hover {
      color: $white;
    }
  }

  .resources {
    color: $snow;
  }

  .resources:hover {
    color: $white;
  }

  .foot {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .nav-flex-icons {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }

    // .nav-item:hover {
    //   color: $white;
    // }

    .copyright-text {
      font-size: 1.2rem;
      font-weight: 600;
    }
  }

  .nav-item {
    margin: 0 20px;
  }
}

.nav-flex-icons {
  .fa-facebook-square:hover,
  .fa-instagram:hover,
  .fa-wix:hover {
    color: $snow;
  }
}
