//-- header image and title --//

.header-container {
  align-content: center;
  background: url($baseurl + '/assets/img/init/blog.jpg') no-repeat center center / cover;
  background-attachment: fixed;
  background-position: bottom;
  height: 39vh;
  overflow: hidden;
  padding: 0;
  position: relative;

  .myblog {
    color: $white;
    margin-left: 25vw;
    margin-top: 10vh;
    position: absolute;
    text-align: left;
    top: 0;
  }
}


//-- blog image grid --//

.blog-entries {
  align-content: center;
  align-items: center;
  background: $monk-hair;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 50px;
  overflow: hidden;

  .blog-entry {
    text-decoration: none;
  }

  .entry-image {
    margin: 40px;
    margin-bottom: 10px;
    transition: transform 1s;
    width: 300px;
  }

  .entry-image:hover {
    opacity: .6;
  }

  .entry-text {
    color: $white;
    font-size: 15px;
    margin-bottom: 50px;
    margin-left: 40px;
  }
}


@include mq-xs {
  .myblog {
    padding-top: 10vh;

    h2 {
      font-size: 1.2rem;
    }

    h4 {
      font-size: .9rem;
    }
  }
}

@include mq-land {
  .myblog {
    padding-top: 10vh;

    h2 {
      font-size: 1.2rem;
    }

    h4 {
      font-size: .9rem;
    }
  }
}

@include mq-md {
  .myblog {
    padding-top: 5vh;

    h2 {
      font-size: 1.9rem;
    }

    h4 {
      font-size: 1.3rem;
    }
  }
}

@include mq-lg {
  .myblog {
    padding-top: 5vh;

    h2 {
      font-size: 2.5rem;
    }

    h4 {
      font-size: 1.9rem;
    }
  }
}
