/* Icons */
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

/* Font */
@import url(https://fonts.googleapis.com/css2?family=Space+Mono&display=swap);

/* Global Variables */
$font-stack: Helvetica, sans-serif;
$primary-color: white;
$background-color: black;

/* Global Settings */
* {
  box-sizing: border-box;
  body {
    font-family: 'Space Mono', monospace;
    font-size: 16px;
    color: $primary-color;
    background-color: $background-color;
  }
}

/***** MEDIA QUERIES *****/
/********** Large devices only **********/
@media (min-width: 1200px) {}
/********** Medium devices only *********/
@media (min-width: 992px) and (max-width: 1199px) {}
/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {}
/********** Small devices only **********/
@media (max-width: 767px) {}
/********** Extra small devices only ****/
@media (max-width: 332px) {}
