/* Icons */
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

/* Font */
@import url(https://fonts.googleapis.com/css2?family=Space+Mono&display=swap);

/* Global Variables */
$font-stack: Helvetica, sans-serif;
$primary-color: white;
$background-color: black;

/* Global Settings */
* {
  box-sizing: border-box;
  body {
    font-family: 'Space Mono', monospace;
    font-size: 16px;
    color: $primary-color;
    background-color: $background-color;
  }
}

/***** _includes.navbar | navigation.nav_links *****/
#mainNav {
  width: 100%;
  overflow: auto;
  a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 24px;
    width: 20%;
    margin: 10px;
    text-align: center;
  }
  a:hover {
    background-color: white;
    color: black;
  }
}
