// map setups //

.map {
  height: 100vh;
  overflow: scroll;
  width: 100%;
}

.map-container {
  margin: 0;
  padding: 0;
  position: relative;

  .google-earth {
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: -1;
  }

  .map-caption {
    left: 20vw;
    position: absolute;
    top: 45vh;
    z-index: 1;
  }

  .svgmap {
    left: 750px;
    position: absolute;
    top: 366px;
  }

}

svg g path {
  opacity: .7;
}

svg g path:hover {
  opacity: .3;
}

.label {
  fill: $white;
  font: italic 14px sans-serif;
}


// modal

.carousel-content {
  background-color: $bg-black3;
  right: 50%;
  width: 790px;

  .carousel-header {
    background-color: $deep-blu;
    border: 0;
    color: $white;
  }

  .carousel-body {
    background-color: $horizon;
  }
}


.carousel {
  width: auto;
}

.carousel-inner {
  width: 100%;

  .carousel-item .img {
    height: 500px;
    width: 100%;
  }
}


@include mq-land {
  .modal-content {
    left: 20%;
    width: 430px;
  }

  .carousel-item .img {
    height: 100px;
    width: 100%;
  }
}
