// map setups //

.map-container {
  margin: 0;
  padding: 0;
  position: relative;

  .google-map {
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: -1;
  }

  .map-caption {
    left: 20vw;
    position: absolute;
    top: 45vh;
    z-index: 1;
  }

  .svgmap {
    left: 750px;
    position: absolute;
    top: 366px;
  }

}

svg g path {
  opacity: .7;
}

svg g path:hover {
  opacity: .3;
}

.label {
  fill: $white;
  font: italic 14px sans-serif;
}


// modal

.modal-content {
  background-color: $bg-black3;

  .modal-header {
    background-color: $deep-blu;
    border: 0;
    color: $white;
  }

  .modal-body {
    background-color: $horizon;
  }
}
