//--- top navigation ---//

.main-nav {
  align-items: center;
  background-color: $bg-black1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  opacity: .8;
  padding: 15px;
  position: fixed;
  top: 0;
  transition: .5s;
  width: 100%;
  z-index: 1;

  .logo {
    color: $white;
    font-weight: bold;

    .icon-rem {
      font-size: 4rem;
      font-weight: lighter;
    }
  }

  .link-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding-top: 8px;

    .link {
      color: $white;
      flex: 1 0;
      font-weight: 600;
      margin: 0 20px;
      text-decoration: none;
    }
  }
}

.link:hover,
.main-nav .active {
  border-bottom: $white 2px solid;
  width: 100%;
}

// navbar effect
.top {
  background: transparent;
}

@include mq-xs {
  .main-nav {
    flex-direction: column;

    .logo {
      font-size: 1rem;
    }

    .icon-rem {
      font-size: 1.6rem;
    }
  }

  .link {
    font-size: .5rem;
  }
}

@include mq-land {
  .main-nav {
    flex-direction: row;

    .logo {
      font-size: 1.5rem;
    }

    .icon-rem {
      font-size: 2rem;
    }
  }

  .link {
    font-size: .7rem;
  }
}


@include mq-sm {
  .main-nav {
    // flex-direction: column;

    .logo {
      font-size: 1.5rem;
    }

    .icon-rem {
      font-size: 2rem;
    }
  }

  .link {
    font-size: .7rem;
  }
}

@include mq-md {
  .main-nav {
    flex-direction: row;
  }

  .logo {
    font-size: 1.7rem;
  }

  .icon-rem {
    font-size: 2.2rem;
  }
}

@include mq-lg {
  .main-nav {
    flex-direction: row;
  }

  .logo {
    font-size: 2.6rem;
  }

  .icon-rem {
    font-size: 3rem;
  }

  .link {
    font-size: 1.2rem;
  }
}


//-- photo navigation --//

.photolinks {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  width: 70%;

  .photolink-wrapper {
    margin: 80px;
    overflow: hidden;
    padding: 0;
    position: relative;
    z-index: 1;

    img {
      margin: 0;
      transition: transform 1s;
      width: 90%;
    }

    img:hover {
      transform: scale(1.05);
    }
  }

  .title {
    color: $white;
    margin-top: 20px;
    width: 90%;

    p {
      font-size: .8rem;
    }
  }

  .link-photo:hover {
    text-decoration: none;
  }
}
