//  landing page nav
.fixed-top {
  background-color: $black;

  .brand-name {
    color: $white;
    font-size: 25px;
    font-weight: bold;
  }

  .fab {
    color: $white;
    margin-left: 20px;
    padding-top: 14px;
  }
}


.photolink-wrapper {
  overflow: hidden;
  position: relative;

  .link-photo {
    height: 100%;
    transition: transform 1s;
    width: 100%;
  }

  .link-photo:hover {
    position: relative;
    transform: scale(1.1);
  }

  .title {
    color: $black;
    font-size: 1.1em;
    font-weight: bold;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
  }
}


// default page nav
.main-nav {
  overflow: auto;
  width: 100%;

  a {
    // border-radius: 3px;
    // border-style: dashed;
    color: $white;
    float: left;
    font-size: 24px;
    margin: 10px;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    width: 20%;
  }


  a:hover {
    background-color: $white;
    color: $black;
  }
}


// blog page nav
.blog-nav {
  // padding: 0;
  // margin: 0;
  padding-top: 150px;
  position: relative;
  width: 100%;
}
