$background: $bg-black2;
$box-shadow: 0 1px 22px 4px rgba(0, 0, 0, .07);
$border: 1px solid rgba(191, 191, 191, .4);
$items: 25;
$rows: ceil($items / 2);

// card-sizing

$card-height: 250px;
$card-width: 450px;
$inner-margin: 15px;
$number-size: 35px;
$stagger: 180px;
$outer-margin: 90px;
$marker-size: 9px;

// colors

$steps: #46b8e9;
$colors: #46b8e9,
#3ee9d1,
#ce43eb,
#4d92eb;
$timeline: #bdbdbd;

// calculations

$container-height: $rows * ($card-height + $outer-margin) + $stagger;
$container-width: $card-width * 2 + $outer-margin * 3;
$head-height: $number-size + 50;
$body-height: $card-height - $head-height;
$marker-dist: $card-width + $outer-margin / 2 - $marker-size / 2;

// placeholders

@include mq-lg {
  %arrow {
    border-bottom: 15px solid transparent;
    border-top: 15px solid transparent;
    content: '';
    height: 0;
    position: absolute;
    width: 0;
  }

  %marker {
    background-color: $timeline;
    border-radius: $marker-size;
    box-shadow: 0 0 2px 8px $background;
    content: '';
    height: $marker-size;
    position: absolute;
    width: $marker-size;
  }
}


// some cool stuff

$counter: $items - $rows + 2;
@for $i from 1 through $rows {
  .card:nth-child(#{ $i * 2 - 1 }) { order: $i; }
  .card:nth-child(#{ $i * 2 }) { order: $counter; }
  $counter: $counter + 1;
}


// timeline starts


.timeline {
  background: $background;
  border-bottom: $border;
  border-top: $border;
  padding: 100px 0;

  .timehead {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 50px;

    .ex {
      color: $banana;
    }

    h2 {
      font-size: 2.7rem;
      font-weight: 200;
      margin-bottom: 20px;
      text-align: center;
    }


    .leader {
      margin: auto;
      margin-bottom: 45px;
      max-width: 90%;
      text-align: center;
    }
  }
}

// wrapper for the cards

.card-wrapper {
  margin: auto;
  position: relative;

  @include mq-lg {
    display: flex;
    flex-flow: column wrap;
    height: $container-height;
    margin: 0 auto;
    width: $container-width;
  }

  &::after {
    border-left: $border;
    bottom: 0;
    content: '';
    left: 50%;
    position: absolute;
    top: 0;
    // z-index: 1;
    @include mq-lg {
      border-left: 1px solid $timeline;
    }
  }
}

// card entries

.card {
  background: $bg-black2;
  border-radius: 10%;
  display: block;
  margin: 10px auto 80px;
  max-width: 94%;
  position: relative;

  @include mq-sm {
    box-shadow: $box-shadow;
    max-width: 60%;
  }


  @include mq-md {
    max-width: 40%;
  }

  @include mq-lg {
    height: $card-height;
    margin: $outer-margin;
    margin-bottom: $outer-margin / 2;
    margin-top: $outer-margin / 2;
    max-width: $card-width;

    &:nth-child(odd) {
      margin-right: $outer-margin / 2;

      .head::after {

        @extend %arrow;
        border-left-style: solid;
        border-left-width: 15px;
        left: 100%;
      }

      .head::before {

        @extend %marker;
        left: $marker-dist + 1;
      }
    }

    &:nth-child(even) {
      margin-left: $outer-margin / 2;

      .head::after {

        @extend %arrow;
        border-right-style: solid;
        border-right-width: 15px;
        right: 100%;
      }

      .head::before {
        @extend %marker;
        right: $marker-dist - 1;
      }
    }

    &:nth-child(2) {
      margin-top: $stagger;
    }
  }

  .timeline-photo {
    border: $snow 2px solid;
    border-radius: 10%;
    height: 180px;
    width: 450px;

    .view-btn {
      background: $deep-blu;
      border-radius: 50%;
      opacity: .5;
    }

    .view-btn:hover {
      opacity: 1;
    }
  }

  @for $i from 1 through $items {
    &--step#{$i} {
      $color: nth($colors, ((($i - 1) % 4) + 1));
      .card { background-color: $color; }
      .head::after {
        border-color: $color;
      }
    }
  }
}

// card title

.card-head {
  align-items: center;
  color: $white;
  display: flex;
  font-weight: 400;
  position: relative;

  .number-box {
    display: inline;
    float: left;
    font-size: $number-size;
    font-weight: 600;
    line-height: $number-size;
    margin: $inner-margin;
    padding: 10px;

    .ex {
      color: $red-cap;
    }
  }

  h2 {
    font-size: 1.2rem;
    font-weight: inherit;
    letter-spacing: 2px;
    line-height: 1rem;
    margin: 0;
    padding-bottom: 6px;
    text-transform: uppercase;

    @include mq-sm {
      // font-size: 165%;
      line-height: 1.2rem;
    }

    span {
      display: block;
      font-size: .6rem;
      margin: 0;

      @include mq-sm {
        font-size: .8rem;
      }
    }
  }
}

// modal

// .flextime {

.modal-lg {
  border: 0;

  .timeline-content {
    display: flex;
    width: 100%;

    .modal-timeline-header {
      background: $bg-black2;
      border: 0;
      color: $white;
    }

    .modalbox {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin: 10px;
      width: auto;
    }
  }
}

.modalphoto {
  border: $snow 4px solid;
  flex: 4 1;
  margin: 5px;
  width: 250px;
}
// }

.modal.left .modal-lg,
.modal.right .modal-lg {
  height: 100%;
  margin: auto;
  position: fixed;
}

.modal.left .timeline-content,
.modal.right .timeline-content {
  background: $bg-black3;
  height: 100%;
  overflow-y: auto;
  transform: translate3d(0%, 0, 0);
  width: 740px;
}

// left
.modal.left.fade .modal-lg {
  left: 0;
  transition: opacity .6s linear, left .6s ease-out;
}

.modal.left.fade.show .modal-lg {
  left: 16%;
}

// right
.modal.right.fade .modal-lg {
  right: -50%;
  transition: opacity .6s linear, right .6s ease-out;
}

.modal.right.fade.show .modal-lg {
  right: 17%;
}
