<!-- blog pages -->


<!DOCTYPE html>
<html lang="en">

  <head>
    {% include headtag.html %}
  </head>

  <!-- close button -->
  <nav class="nav navbar navbar-expand-lg fixed-top blog-nav">
    <a href={{ "/_pages/in.html" | relative_url }} onclick="history.back()" class="close">
    </a>
  </nav>

  <body>

    <div class="container" id="blogBody">

      <header>
        <div class="blog-title">
          <h3>{{ page.title }}</h3>
          <h4>{{ page.date }}</h4>
        </div>
      </header>

      <main>
        {{ content }}
      </main>

    </div>
  </body>

</html>