<!DOCTYPE html>
<html lang="en">

  {% include headTag.html %}

  <!-- close button -->
  <header>
    <nav class="nav navbar navbar-expand-lg fixed-top"
         id="blogNav">
      <a href={{ "/_pages/in.html" | relative_url }}
         onclick="history.back()"
         class="close">
      </a>
    </nav>
  </header>
  <!-- close button -->

  <body>
    <div class="container"
         id="blogBody">
      <div class="blog-title">
        <h3>{{ page.title }}</h3>
        <h4>{{ page.date }}</h4>
      </div>
      {{ content }}
    </div>
  </body>

</html>
