<!-- blog pages -->


<!DOCTYPE html>
<html lang="en">

  <head>
    {% include headtag.html %}
  </head>

  <body>
    <div class="container-fluid bg-fullwidth blog-body">
      <header>
        <nav class="nav navbar navbar-expand-lg fixed-top blog-nav">
          <div class="blog-title">
            <h4>{{ page.title }}</h4>
            <h6>{{ page.date }}</h6>
          </div>
          <a href={{ "/_pages/in.html" | relative_url }} onclick="history.back()" class="close">
          </a>
        </nav>
      </header>

      <main>
        {{ content }}
      </main>

    </div>
  </body>

</html>